@{
    ViewBag.Title = "Ajuda";
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/001.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <h5>GT 01 - Utilizadores</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/002.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <h5>GT 02 - Iniciar sessão</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/003.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <h5>GT 03 - Recuperar senha</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/004.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <h5>GT 04 - Definições Aplicacional</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/005.mp4" type="video/mp4">
                    </video>
                    <h5>GT 05 - Parâmetros</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/006.mp4" type="video/mp4">
                    </video>
                    <h5>GT 06 - Atletas</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/007.mp4" type="video/mp4">
                    </video>
                    <h5>GT 07 - Atletas (Continuação)</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/008.mp4" type="video/mp4">
                    </video>
                    <h5>GT 08 - Plano Musculação</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/009.mp4" type="video/mp4">
                    </video>
                    <h5>GT 09 - Plano CardioVascular</h5>
                </div>
                <div class="col-md-4">
                    <video width="320" height="240" controls>
                        <source src="~/Content/Tutorials/010.mp4" type="video/mp4">
                    </video>
                    <h5>GT 10 - Outros</h5>
                </div>
            </div>
            <h2>&nbsp;</h2>
            <h2>&nbsp;</h2>
        </div>
    </div>
</div>