@model Gestreino.Models.GTExercicio
@{
    ViewBag.Title = "Fases de treino";
}
<div class="right_col" role="main">
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLGTFaseTreinoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlgtfasetreino" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar duração de plano" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlgtfasetreino" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
               </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLGTFaseTreinoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableSerie" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableReps" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableRM" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDescanso" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLGTFaseTreinoTableSigla">Fase do treino</th>
                        <th data-name="GRLGTFaseTreinoTableSerie">Séries</th>
                        <th data-name="GRLGTFaseTreinoTableReps">Repetições</th>
                        <th data-name="GRLGTFaseTreinoTableRM">% 1RM</th>
                        <th data-name="GRLGTFaseTreinoTableDescanso">Descanso</th>
                        <th data-name="GRLGTFaseTreinoTableInsercao">Inserção</th>
                        <th data-name="GRLGTFaseTreinoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLGTFaseTreinoTableActualizacao">Actualização</th>
                        <th data-name="GRLGTFaseTreinoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLGTFaseTreinoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLGTFaseTreinoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
  
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        handleDataGRLGTFaseTreinoTable();
    });
</script>