@using Gestreino.Classes;
@{
    ViewBag.Title = "Grupos, perfis e átomos";
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_LIST_VIEW_SEARCH))
            {
                <div class="alert alert-primary-light"
                     role="alert">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="fa fa-cogs"></i>&nbsp;
                        </div>
                        <div class="flex"
                             style="min-width: 180px">
                            <span class="text-black-100">
                                <strong>Grupos</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card mb-32pt">
                    <div class="card-header">
                        <div class="form-inline">
                            <label class="" for="length_change">Mostrar</label>
                            <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GroupTable">
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='50'>50</option>
                                <option value='100'>100</option>
                                <option value='500'>500</option>
                                <option value='1000'>1000</option>
                                <option value='2000'>2000</option>
                                <option value='5000'>5000</option>
                                <option value='10000'>10000</option>
                            </select>
                            <label class="" for="length_change">registos</label>
                            <div class="btn-group">
                                <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GroupTable"><i class="fa fa-check-square"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_DELETE))
                                {<button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="groups" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                } <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GroupTable"><i class="fa fa-search"></i></button>
                                <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GroupTable"><i class="fa fa-eraser"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_NEW))
                                {<a title="Adicionar grupo" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="groups" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="GroupTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><input type="text" id="GroupTableSigla" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="GroupTableNome" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="GroupTableInsercao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="GroupTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                    <td><input type="text" id="GroupTableActualizacao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="GroupTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th data-name="GroupTableSigla">Sigla</th>
                                    <th data-name="GroupTableNome">Nome</th>
                                    <th data-name="GroupTableInsercao">Inserção</th>
                                    <th data-name="GroupTableDataInsercao">Data Inserção</th>
                                    <th data-name="GroupTableActualizacao">Actualização</th>
                                    <th data-name="GroupTableDataActualizacao">Data Actualização</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer p-8pt">
                        <span class="paginateInfoGroup paginateInfo mr-12pt" style="float:right"></span>
                        <div id="paginateGroup" class="pagination justify-content-start pagination-xsm m-0"></div>
                    </div>
                </div>
                <br />
            }
            @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_LIST_VIEW_SEARCH))
            {
                <div class="alert alert-primary-light"
                     role="alert">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="fa fa-cogs"></i>&nbsp;
                        </div>
                        <div class="flex"
                             style="min-width: 180px">
                            <span class="text-black-100">
                                <strong>Perfis</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card mb-32pt">
                    <div class="card-header">
                        <div class="form-inline">
                            <label class="" for="length_change">Mostrar</label>
                            <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="ProfileTable">
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='50'>50</option>
                                <option value='100'>100</option>
                                <option value='500'>500</option>
                                <option value='1000'>1000</option>
                                <option value='2000'>2000</option>
                                <option value='5000'>5000</option>
                                <option value='10000'>10000</option>
                            </select>
                            <label class="" for="length_change">registos</label>
                            <div class="btn-group">
                                <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="ProfileTable"><i class="fa fa-check-square"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_DELETE))
                                {<button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="profiles" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                }  <button title="Pesquisar" class="btnSearch btn btn-default" data-id="ProfileTable"><i class="fa fa-search"></i></button>
                                <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="ProfileTable"><i class="fa fa-eraser"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_NEW))
                                {<a title="Adicionar perfil" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="profiles" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="ProfileTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><input type="text" id="ProfileTableNome" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="ProfileTableDesc" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="ProfileTableInsercao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="ProfileTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                    <td><input type="text" id="ProfileTableActualizacao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="ProfileTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th data-name="ProfileTableNome">Nome</th>
                                    <th data-name="ProfileTableDesc">Descrição</th>
                                    <th data-name="ProfileTableInsercao">Inserção</th>
                                    <th data-name="ProfileTableDataInsercao">Data Inserção</th>
                                    <th data-name="ProfileTableActualizacao">Actualização</th>
                                    <th data-name="ProfileTableDataActualizacao">Data Actualização</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer p-8pt">
                        <span class="paginateInfoProfile paginateInfo mr-12pt" style="float:right"></span>
                        <div id="paginateProfile" class="pagination justify-content-start pagination-xsm m-0"></div>
                    </div>
                </div>
                <br />
            }
            @if (AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_LIST_VIEW_SEARCH))
            {
                <div class="alert alert-primary-light"
                     role="alert">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="fa fa-cogs"></i>&nbsp;
                        </div>
                        <div class="flex"
                             style="min-width: 180px">
                            <span class="text-black-100">
                                <strong>Átomos</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card mb-32pt">
                    <div class="card-header">
                        <div class="form-inline">
                            <label class="" for="length_change">Mostrar</label>
                            <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="AtomTable">
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='50'>50</option>
                                <option value='100'>100</option>
                                <option value='500'>500</option>
                                <option value='1000'>1000</option>
                                <option value='2000'>2000</option>
                                <option value='5000'>5000</option>
                                <option value='10000'>10000</option>
                            </select>
                            <label class="" for="length_change">registos</label>
                            <div class="btn-group">
                                <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="AtomTable"><i class="fa fa-check-square"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_DELETE))
                                {<button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="atoms" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                } <button title="Pesquisar" class="btnSearch btn btn-default" data-id="AtomTable"><i class="fa fa-search"></i></button>
                                <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="AtomTable"><i class="fa fa-eraser"></i></button>
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_NEW))
                                {<a title="Adicionar átomo" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="atoms" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="AtomTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><input type="text" id="AtomTableNome" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="AtomTableDesc" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="AtomTableInsercao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="AtomTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                    <td><input type="text" id="AtomTableActualizacao" class="form-control form-control-sm" /></td>
                                    <td><input type="text" id="AtomTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th data-name="AtomTableNome">Nome</th>
                                    <th data-name="AtomTableDesc">Descrição</th>
                                    <th data-name="AtomTableInsercao">Inserção</th>
                                    <th data-name="AtomTableDataInsercao">Data Inserção</th>
                                    <th data-name="AtomTableActualizacao">Actualização</th>
                                    <th data-name="AtomTableDataActualizacao">Data Actualização</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer p-8pt">
                        <span class="paginateInfoAtom paginateInfo mr-12pt" style="float:right"></span>
                        <div id="paginateAtom" class="pagination justify-content-start pagination-xsm m-0"></div>
                    </div>
                </div>
            }
                <h2>&nbsp;</h2>
                <h2>&nbsp;</h2>
            </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        handleDataGrupos();
        handleDataPerfis();
        handleDataAtomos();
    });
</script>