@model Gestreino.Models.Users
@{
    ViewBag.Title = "Parametrização de dados biográficos";
}
<div class="right_col" role="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("parameters","administration")">Parametrização</a></li>
            <li class="breadcrumb-item active" aria-current="page">Entidades pessoais (PES)</li>
        </ol>
    </nav>
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong> Identificação pessoal</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLIdentTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLIdentTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlidenttype" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLIdentTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLIdentTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de identificação" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlidenttype" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLIdentTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLIdentTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLIdentTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLIdentTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLIdentTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLIdentTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLIdentTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLIdentTableSigla">Sigla</th>
                        <th data-name="GRLIdentTableNome">Nome</th>
                        <th data-name="GRLIdentTableInsercao">Inserção</th>
                        <th data-name="GRLIdentTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLIdentTableActualizacao">Actualização</th>
                        <th data-name="GRLIdentTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLIdentTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLIdentTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Estado civis</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLEstadoCivilTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLEstadoCivilTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlestadocivil" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLEstadoCivilTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLEstadoCivilTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar estado civil" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlestadocivil" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLEstadoCivilTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLEstadoCivilTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEstadoCivilTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTokenTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTokenTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLTipoTokenTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTokenTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLEstadoCivilTableSigla">Sigla</th>
                        <th data-name="GRLEstadoCivilTableNome">Nome</th>
                        <th data-name="GRLTipoTokenTableInsercao">Inserção</th>
                        <th data-name="GRLTipoTokenTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLTipoTokenTableActualizacao">Actualização</th>
                        <th data-name="GRLTipoTokenTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLEstadoCivilTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLEstadoCivilTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Tipos de endereços</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLEndTipoEndTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLEndTipoEndTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlendtype" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLEndTipoEndTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLEndTipoEndTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de endereço" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlendtype" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
              </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLEndTipoEndTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLEndTipoEndTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLEndTipoEndTableSigla">Sigla</th>
                        <th data-name="GRLEndTipoEndTableNome">Nome</th>
                        <th data-name="GRLEndTipoEndTableInsercao">Inserção</th>
                        <th data-name="GRLEndTipoEndTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLEndTipoEndTableActualizacao">Actualização</th>
                        <th data-name="GRLEndTipoEndTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLEndTipoEndTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLEndTipoEndTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Profissões</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLProfissaoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLProfissaoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlprofissao" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLProfissaoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLProfissaoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar profissão" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlprofissao" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                  </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLProfissaoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLEndTipoEndTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLEndTipoEndTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLProfissaoTableNome">Nome</th>
                        <th data-name="GRLProfissaoTableInsercao">Inserção</th>
                        <th data-name="GRLProfissaoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLProfissaoTableActualizacao">Actualização</th>
                        <th data-name="GRLProfissaoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLProfissaoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLProfissaoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Contractos de trabalhos</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLProfissaoTipoContractoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLProfissaoTipoContractoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlprofcontract" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLProfissaoTipoContractoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLProfissaoTipoContractoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de contracto" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlprofcontract" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLProfissaoTipoContractoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoContractoTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLProfissaoTipoContractoTableSigla">Sigla</th>
                        <th data-name="GRLProfissaoTipoContractoTableNome">Nome</th>
                        <th data-name="GRLProfissaoTipoContractoTableInsercao">Inserção</th>
                        <th data-name="GRLProfissaoTipoContractoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLProfissaoTipoContractoTableActualizacao">Actualização</th>
                        <th data-name="GRLProfissaoTipoContractoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLProfissaoTipoContractoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLProfissaoTipoContractoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Regimes de trabalhos</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLProfissaoTipoRegimeTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLProfissaoTipoRegimeTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlprofregime" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLProfissaoTipoRegimeTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLProfissaoTipoRegimeTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de regime" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlprofregime" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                 </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLProfissaoTipoRegimeTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLProfissaoTipoRegimeTableSigla">Sigla</th>
                        <th data-name="GRLProfissaoTipoRegimeTableNome">Nome</th>
                        <th data-name="GRLProfissaoTipoRegimeTableInsercao">Inserção</th>
                        <th data-name="GRLProfissaoTipoRegimeTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLProfissaoTipoRegimeTableActualizacao">Actualização</th>
                        <th data-name="GRLProfissaoTipoRegimeTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLProfissaoTipoRegimeTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLProfissaoTipoRegimeTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Agregados familiares</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLAgregadoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLAgregadoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlpesagregado" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLAgregadoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLAgregadoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de agregado" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlpesagregado" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                 </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLAgregadoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLProfissaoTipoRegimeTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLAgregadoTableSigla">Sigla</th>
                        <th data-name="GRLAgregadoTableNome">Nome</th>
                        <th data-name="GRLAgregadoTableInsercao">Inserção</th>
                        <th data-name="GRLAgregadoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLAgregadoTableActualizacao">Actualização</th>
                        <th data-name="GRLAgregadoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLAgregadoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLAgregadoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Grupo sanguíneos</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLGroupSangTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLGroupSangTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlpesgruposang" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLGroupSangTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLGroupSangTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar grupo sanguíneo" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlpesgruposang" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLGroupSangTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLGroupSangTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGroupSangTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGroupSangTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLGroupSangTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGroupSangTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLGroupSangTableNome">Nome</th>
                        <th data-name="GRLGroupSangTableInsercao">Inserção</th>
                        <th data-name="GRLGroupSangTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLGroupSangTableActualizacao">Actualização</th>
                        <th data-name="GRLGroupSangTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLGroupSangTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLGroupSangTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>
                        Tipos de deficiências
                    </strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLAgregadoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLTipoDefTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grltipodef" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLTipoDefTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLTipoDefTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de deficiência" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grltipodef" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLTipoDefTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLTipoDefTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoDefTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoDefTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoDefTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLTipoDefTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoDefTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLTipoDefTableSigla">Sigla</th>
                        <th data-name="GRLTipoDefTableNome">Nome</th>
                        <th data-name="GRLTipoDefTableInsercao">Inserção</th>
                        <th data-name="GRLTipoDefTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLTipoDefTableActualizacao">Actualização</th>
                        <th data-name="GRLTipoDefTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLTipoDefTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLTipoDefTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
<script>
        document.addEventListener("DOMContentLoaded", function (event) {
            handleDataGRLIdentTable();
            handleDataGRLEstadoCivilTable();
            handleDataGRLEndTipoEndTable();
            handleDataGRLProfissaoTable();
            handleDataGRLProfissaoTipoContractoTable();
            handleDataGRLProfissaoTipoRegimeTable();
            handleDataGRLAgregadoTable();
            handleDataGRLGroupSangTable();
            handleDataGRLTipoDefTable();
        });
</script>