@model Gestreino.Models.GTExercicio
@{
    ViewBag.Title = "Parametrização de entidadades Gestreino";
}
<div class="right_col" role="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("parameters","administration")">Parametrização</a></li>
            <li class="breadcrumb-item active" aria-current="page">Entidades Gestreino (GT)</li>
        </ol>
    </nav>
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Exercícios</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLExercicioTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLExercicioTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="gtexercicio" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLExercicioTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLExercicioTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar exercício" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="gtexercicio" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                    <a title="Exportar filtro (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtexercise", applyFilter = "true" })" target="_blank" data-id="GRLExercicioTable"><i class="fa fa-filter"></i></a>
                    <a title="Exportar todos (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtexercise", applyFilter = "false" })" target="_blank" data-id="GRLExercicioTable"><i class="fa fa-file-excel"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLExercicioTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @Html.DropDownListFor(x => Model.ID, Model.TipoList, "Sem filtro", new { @class = "form-control form-control-sm", Id = "GRLExercicioTableTreino" })
                        </td>
                        <td><input type="text" id="GRLExercicioTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLExercicioTableAlongamento" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLExercicioTableSeq" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLExercicioTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLExercicioTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLExercicioTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLExercicioTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLExercicioTableTreino">Treino</th>
                        <th data-name="GRLExercicioTableNome">Nome</th>
                        <th data-name="GRLExercicioTableAlongamento">Alongamento</th>
                        <th data-name="GRLExercicioTableSeq">Sequência</th>
                        <th data-name="GRLExercicioTableInsercao">Inserção</th>
                        <th data-name="GRLExercicioTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLExercicioTableActualizacao">Actualização</th>
                        <th data-name="GRLExercicioTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLExercicioTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLExercicioTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Fases do Treino </strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLGTFaseTreinoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlgtfasetreino" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLGTFaseTreinoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar duração de plano" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlgtfasetreino" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
               </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLGTFaseTreinoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableSerie" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableReps" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableRM" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDescanso" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTFaseTreinoTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLGTFaseTreinoTableSigla">Fase do treino</th>
                        <th data-name="GRLGTFaseTreinoTableSerie">Séries</th>
                        <th data-name="GRLGTFaseTreinoTableReps">Repetições</th>
                        <th data-name="GRLGTFaseTreinoTableRM">% 1RM</th>
                        <th data-name="GRLGTFaseTreinoTableDescanso">Descanso</th>
                        <th data-name="GRLGTFaseTreinoTableInsercao">Inserção</th>
                        <th data-name="GRLGTFaseTreinoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLGTFaseTreinoTableActualizacao">Actualização</th>
                        <th data-name="GRLGTFaseTreinoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLGTFaseTreinoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLGTFaseTreinoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Duração de planos</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLGTDuracaoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLGTDuracaoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlgtduracao" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLGTDuracaoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLGTDuracaoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar duração de plano" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlgtduracao" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                  </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLGTDuracaoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLGTDuracaoTableDuracao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTDuracaoTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTDuracaoTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLGTDuracaoTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLGTDuracaoTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLGTDuracaoTableDuracao">Duração</th>
                        <th data-name="GRLGTDuracaoTableInsercao">Inserção</th>
                        <th data-name="GRLGTDuracaoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLGTDuracaoTableActualizacao">Actualização</th>
                        <th data-name="GRLGTDuracaoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLGTDuracaoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLGTDuracaoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <br />
    <div class="alert alert-primary-light"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-cogs"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>
                        Tipo de treinos
                    </strong>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div class="form-inline">
                <label class="" for="length_change">Mostrar</label>
                <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GRLTipoTreinoTable">
                    <option value='10'>10</option>
                    <option value='25'>25</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='500'>500</option>
                    <option value='1000'>1000</option>
                    <option value='2000'>2000</option>
                    <option value='5000'>5000</option>
                    <option value='10000'>10000</option>
                </select>
                <label class="" for="length_change">registos</label>
                <div class="btn-group">
                    <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GRLTipoTreinoTable"><i class="fa fa-check-square"></i></button>
                    <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="grlgttipotreino" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                    <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GRLTipoTreinoTable"><i class="fa fa-search"></i></button>
                    <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GRLTipoTreinoTable"><i class="fa fa-eraser"></i></button>
                    <a title="Adicionar tipo de treino" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="grlgttipotreino" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="GRLTipoTreinoTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="GRLTipoTreinoTableSigla" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTreinoTableNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTreinoTableInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTreinoTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                        <td><input type="text" id="GRLTipoTreinoTableActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="GRLTipoTreinoTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="GRLTipoTreinoTableSigla">Sigla</th>
                        <th data-name="GRLTipoTreinoTableNome">Nome</th>
                        <th data-name="GRLTipoTreinoTableInsercao">Inserção</th>
                        <th data-name="GRLTipoTreinoTableDataInsercao">Data Inserção</th>
                        <th data-name="GRLTipoTreinoTableActualizacao">Actualização</th>
                        <th data-name="GRLTipoTreinoTableDataActualizacao">Data Actualização</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer p-8pt">
            <span class="paginateInfoGRLTipoTreinoTable paginateInfo mr-12pt" style="float:right"></span>
            <div id="paginateGRLTipoTreinoTable" class="pagination justify-content-start pagination-xsm m-0"></div>
        </div>
    </div>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        handleDataGRLGTDuracaoTable();
        handleDataGRLGTFaseTreinoTable();
        handleDataGRLTipoTreinoTable();
        handleDataGRLExercicioTable();
    });
</script>